@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-900: 117 14% 32%;
  --clr-primary-700: 125 68% 16%;
  --clr-primary-600: 126 84% 20%;
  --clr-primary-500: 125 40% 25%;
  --clr-primary-400: 126 20% 10%;

  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;

  --base-font-size: 16px;
  --fs-small: 1.25rem; /* 20px / 16px = 1.25rem */
  --fs-medium: 1.5rem; /* 24px / 16px = 1.5rem */
  --fs-large: 1.75rem; /* 28px / 16px = 1.75rem */
  --fs-xl: 2.75rem; /* 44px / 16px = 2.75rem */
  --fs-xxl: 6.875rem; /* 110px / 16px = 6.875rem */

  --fw-bold: bold;
  --fw-regular: normal;
  --fw-medium: 500;

  --max-width: 1600px;
  --container-padding: 0.8125rem; /* 13px / 16px = 0.8125rem */
}

@layer utilities {
  .wrapper {
    width: min(
      100%,
      calc(var(--max-width, 1600px) - var(--container-padding) * 2)
    );
    margin-inline: auto;
  }
}
